{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Convocatorias</title>

</head>
<body>
<!--Navbar -->

<nav class="navbar  navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-light" href="/">
  	<img src="{% static 'img/HorizontalPrimario Blanco.png' %}" width="100" height="30" alt="">
  	SmartConnect
  </a>
  <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-warning" href="/login">Iniciar Sesion <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/">Inicio</a>
        </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/registro">Crear Cuenta</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<!--/Navbar -->

<!-- Body -->
<div class="container">	
		<div class="row justify-content-md-center">
			<div class="col-md">
				<div class="" style="width: 800px;">
				<img style=" max-width: 30%; height: auto;" src="{% static 'img/LogoTec.png' %}" class="img-fluid" alt="Responsive image">
			</div>
			</div>
		</div>
		<div class="row justify-content-md-center">
			<form>
					{% csrf_token %}
					{{ form|crispy }}
				<button type="submit" class="btn btn-outline-warning my-2 my-sm-0">Login</button>
			</form>
		</div>
		<br>
		<div class="row justify-content-md-center">
			<p class="loginhere">
					¿Aún no tienes cuenta? <a href="/registro" class="loginhere-link"> Registrate aquí</a>
			</p>
		</div>
	</div>

<!--Footer-->
<footer style="margin-top: 600px;" class="py-5 bg-dark">
      <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p>
                        	<i class="fa fa-phone"></i>
                        	<span style="color: white;"> Tel&eacute;fono: </span>
                        	<a class="text-warning">Tel.(+52)777 362 0893</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p>
                        	<i class="fa fa-envelope-o"></i>
                        	<span style="color: white;"> Correo: </span>
                        	<a class="text-warning" href="#">mdimayuga@itesm.mx</a>
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <br>
      <div class="container">
        <p class="m-0 text-center text-white">SmartConnect &copy; Copyright</p>
      </div>
    </footer>
<!--/Footer-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>