<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Convocatorias</title>

  <script type="text/javascript">

    function agree_term_cond(){

      var checkbox = document.getElementById('checklegal').checked;
      var btncrear = document.getElementById('idbtncrear');

      if(checkbox == false){
        btncrear.disabled = true;
      }else{
        btncrear.disabled = false;
      }
    }

  </script>

</head>

<body>
<!--Navbar -->

<nav class="navbar  navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-light" href="#">
  	<img src="img/HorizontalPrimario Blanco.png" width="100" height="30" alt="">
  	SmartConnect
  </a>
  <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-warning" href="#">Crear Cuenta <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Inicio</a>
        </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Iniciar Sesion</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<!-- Body -->

<div class="container justify-content-md-center">	
  <div class="row">
    <div class="col-md">
       <h1>Crear una nueva cuenta</h1>
    </div>  
  </div>
	<div class="row justify-content-md-center">
    <form action="loadUser.php" method="post" class="form-horizontal">

      <div class="form-group">
        <label for="nombre" class="control-label col-md" >Nombre*:</label>
        <div class="col-md">
          <input type="text" class="form-control" id="nombre" name="nombre"  placeholder="Nombre" required="required">
        </div>
      </div>

      <div class="form-group">
        <label for="apellidop" class="control-label col-md" >Apellido Paterno*:</label>
        <div class="col-md">
          <input type="text" class="form-control" id="apellidop" name="apellidop"  placeholder="Apellido Paterno" required="required">
        </div>
      </div>

      <div class="form-group">
        <label for="apellidom" class="control-label col-md" >Apellido Materno*:</label>
        <div class="col-md">
          <input type="text" class="form-control" id="apellidom" name="apellidom"  placeholder="Apellido Materno" required="required">
        </div>
      </div>

      <div class="form-group">
        <label for="matricula" class="control-label col-md" >Matricula:</label>
        <div class="col-md">
          <input type="text" class="form-control" id="matricula" name="matricula"  placeholder="En caso de tener">
        </div>
      </div>

      <div class="form-group">
        <label for="carrera" class="control-label col-md" >Carrera*:</label>
        <div class="col-md">
          <input type="text" class="form-control" id="carrera" name="carrera"  placeholder="Carrera" required="required">
        </div>
      </div>

      <div class="form-group">
        <label for="correo" class="control-label col-md" >Correo*:</label>
        <div class="col-md">
          <input type="text" class="form-control" id="correo" name="correo"  placeholder="Correo" required="required">
        </div>
      </div>
      <div>
        <strong>Introduzca dos veces su contraseña para confirmarla</strong>
      </div>
      <div class="form-group">
        <label for="password" class="control-label col-md" >Contraseña*:</label>
        <div class="col-md">
          <input type="password" class="form-control" id="pass" name="pass"  placeholder="Password" required="required">
        </div>

        <label for="confpassword" class="control-label col-md" >Confirmar Contraseña*:</label>
        <div class="col-md">
          <input type="password" class="form-control" id="confpass" name="pass"  placeholder="Password" required="required">
        </div>
      </div>

       
        <div class="form-group form-check">
          <input type="checkbox" name="legal" class="form-check-input" id="checklegal" onclick="agree_term_cond()">
          <label class="form-check-label" for="legal">Aceptar los 
            <a href="https://tec.mx/es/aviso-de-privacidad-para-participantes-y-expositores-congresos-y-simposiums">
            Terminos y Condiciones
            </a>
          </label>
        </div>

        <div class="row">
          <div class="col-md">
            <button disabled="true" id="idbtncrear" type="submit" class="btn btn-primary">Crear</button>
          </div>

          <div class="col-md">
            <input class="btn btn-primary" type="button" onclick="location.href='index.html';" value="Cancelar" />
            <!--<button type="button" onclick="addUser.php"  class="btn btn-primary">Crear Cuenta</button>-->
          </div>
        
      </div>
      
      
    </form>
	</div>
</div>


<!--Footer-->
<footer style="margin-top: 200px;" class="py-5 bg-dark">
      <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p>
                        	<i class="fa fa-phone"></i>
                        	<span style="color: white;"> Tel&eacute;fono: </span>
                        	<a style="color: #FF7514">777-123-45-67</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p>
                        	<i class="fa fa-envelope-o"></i>
                        	<span style="color: white;"> Correo: </span>
                        	<a style="color: #FF7514" href="#">correoOficial@tec.mx</a>
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <br>
      <div class="container">
        <p class="m-0 text-center text-white">SmartConnect &copy; Copyright</p>
      </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>